<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/signin.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <meta name="theme-color" content="#4527a0">
    <title>Login</title>
</head>
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        {% block content %}
        <form method="POST"  class="uniForm">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                {% csrf_token %}
                <div class="form-floating">
                    <br/>
                    {{ form.as_p }}
                    <br/>
                  <button class="w-100 btn btn-lg btn-primary" type="submit" value="Create">Sign in</button>
                  <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
            </div>
        </form>
        {% endblock %}
    </main>
</body>
</html>